:root {
    --darkmode-background: #323232;
    --lightmode-background: #E1E1E1;
    --darkmode-navbar-background: #292929;
    --darkmode-navbar-background-hover: #505050;
    --footer-gradient-darkmode-start: rgba(35, 35, 35, 0);
    --footer-gradient-darkmode-end: rgba(35, 35, 35, 1);
    --footer-gradient-lightmode-start: rgba(200, 200, 200, 0);
    --footer-gradient-lightmode-end: rgba(200, 200, 200, 1);
    --mode-transition-time: 1s;
    --avatar-size: 70px;
    --navbar-size: 35px;
    --footer-size: 30px;
    --footer-icon-size: 15px;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: "DejaVu Sans Mono", Helvetica, Arial, sans-serif;
    font-size: 12px;
    background-color: var(--lightmode-background);
    color: black;
    transition: var(--mode-transition-time);
}

hr {
    transform: scaleX(1.1);
}

.preload{
    animation-duration: 0s !important;
    transition: 0s !important;
    transition-duration: 0s !important;
}

.body-dark {
    background-color: var(--darkmode-background);
    color: white;
    transition: var(--mode-transition-time);
}

#avatar {
    width: 100%;
    box-shadow: 0px 1px 20px black;
}

.hamburger {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
}

.hamburger-icon {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    height: var(--navbar-size);
    width: var(--navbar-size);
}

.hamburger-line {
    background-color: white;
    height: 2px;
    width: 50%;
    z-index: 20;
}

.hamburger-link-holder {
    display: table;
    position: relative;
    transform: translateY(-250px);
    transition: 0.5s;
}

.hamburger-link {
    display: table-cell;
    position: relative;
    vertical-align: middle;
    width: 100vw;
    text-decoration: none;
    color: white;
    padding-left: 10px;
    background-color: var(--darkmode-navbar-background);
    height: 50px;
    z-index: 10;
}

.hamburger-link-shadow {
    position: relative;
    z-index: 5;
    top: calc(var(--navbar-size) * -1);
    height: var(--navbar-size);
    box-shadow: 0px 1px 20px black;
}

.mode {
    display: table;
    position: fixed;
    top: 0;
    right: 5px;
    height: var(--navbar-size);
    width: var(--navbar-size);
    z-index: 20;
}

.mode-checkbox {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    width: 100%;
}

.sun {
    height: 30%;
    width: 30%;
    background-color: white;
    border-radius: 50%;
    box-shadow: 10px 0 0 -4px white,
                -10px 0 0 -4px white,
                0 10px 0 -4px white,
                0 -10px 0 -4px white,
                7.5px 7.5px 0 -4px white,
                7.5px -7.5px 0 -4px white,
                -7.5px 7.5px 0 -4px white,
                -7.5px -7.5px 0 -4px white;
    transform: translate(12px, 0px);
    transition: var(--mode-transition-time);
}

.moon {
    height: 35%;
    width: 35%;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: -3px 3px 0 0px white;
    transform: translate(13px, -1px);
    transition: var(--mode-transition-time);
}

.header {
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: var(--navbar-size);
    background-color: var(--darkmode-navbar-background);
    box-shadow: 0px 1px 20px black;
    z-index: 20;
}

.navbar-fill {
    height: 100%;
    flex-grow: 1;
    z-index: 15;
    background-color: var(--darkmode-navbar-background);
}

.navbar-avatar {
    height: var(--avatar-size);
    width: var(--avatar-size);
    z-index: 20;
}

.navbar-avatar:hover {
    transform: scale(1.1);
}

.navbar {
    display: none;
    height: 100%;
    width: 180px;
    z-index: 15;
}

.navbar a {
    display: table-cell;
    vertical-align: middle;
    text-decoration: none;
    text-align: center;
    color: white;
    width: 100%;
    height: 100%;
}

.navbar a:hover {
    background-color: var(--darkmode-navbar-background-hover);
}

.page-wrapper {
    position: relative;
    min-height: 100vh;
}

.footer-darkmode {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: absolute;
    bottom: 0;
    height: var(--footer-size);
    width: 100%;
    background-image: linear-gradient(var(--footer-gradient-darkmode-start), var(--footer-gradient-darkmode-end));
    opacity: 0;
    z-index: -1;
    transition: var(--mode-transition-time);
}

.footer-darkmode-dark {
    opacity: 1;
    z-index: 1;
    transition: var(--mode-transition-time);
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: absolute;
    bottom: 0;
    height: var(--footer-size);
    width: 100%;
    background-image: linear-gradient(var(--footer-gradient-lightmode-start), var(--footer-gradient-lightmode-end));
    opacity: 1;
    z-index: 1;
    transition: var(--mode-transition-time);
}

.footer-dark {
    opacity: 0;
    z-index: -1;
    transition: var(--mode-transition-time);
}

.footer-icon {
    height: var(--footer-icon-size);
    width: auto;
}

.footer-icon:hover {
    transform: scale(1.2);
}

.footer-icon-dark {
    filter: invert(100%);
}

.vspace-xs {
    height: 7px;
}

.vspace-s {
    height: 15px;
}

.vspace-m {
    height: 25px;
}

.vspace-l {
    height: 40px;
}

.invert {
    transition: var(--mode-transition-time);
}

.invert-mode {
    filter: invert(100%);
}

a-typewriter {
    font-size: 12px;
}

@media only screen and (min-width: 600px) {
    a-typewriter {
        font-size: 14px;
    }
}

@media only screen and (min-width: 992px) {
    body {
        font-size: 14px;
    }
    
    a-typewriter {
        font-size: 16px;
    }

    .hamburger {
        display: none;
    }

    .navbar {
        display: table;
    }
}
